*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.base{
    background-color: black;
    background-image:url(../img/BecoDiagonal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.area-blur{
    width: 90%;
    height: 75%;
    background-color: rgba(217, 226, 218, 0.432);
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    animation: aniBox 3s infinite;
}
.area-cad {
    font-size: 16px;
    color: darkgreen;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.group{
    position: relative;
}
label{
    font-size: 15px;
    color: rgb(3, 79, 79);
    position: absolute;
    top: -16px;
    left: 10px;
    transition: all 0.3 ease;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(224, 25, 25, 0.829);
    margin-bottom: 20px;
    width: 100%;
    background-color: transparent;
}
.area-cad .group input:placeholder-shown+label{
    top: 10px;
    background-color: transparent;
}
.area-cad .group input:focus{
    border-color: rgb(139, 0, 0);
}
.area-cad .group input:focus+label{
    top: -10px;
    left: 10px;
    background-color: rgba(240, 248, 255 );
    color: rgb(139, 0, 0);
    font-weight: 600;
    font-size: 16px;
    
}
.area-cad button{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: seagreen;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4 ease;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}
