*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    width: 90%;
    height: 80%;
    margin-left: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 30px;
    flex-wrap: wrap;
}
.base{
    background-color: black;
    background-image:url(../img/BecoDiagonal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.area-tabela{
    width: 90%;
    height: 75%;
    background-color: rgba(217, 226, 218, 0.432);
    backdrop-filter: blur(1px);
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    border-radius: 15px;
    animation: aniBox 3s infinite;
}
.texto{
    width: 10%;
    height: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    top: 15%;
    position: sticky;
    z-index: 1000;
    margin-left: 5%;
}
.title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(139, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
    text-shadow: 1px  1px 0 rgb(228, 231, 5);
}
table {
    width: 80%;
    height: 50%;
    margin: 6px auto;
    border-collapse: separate;

}
table, th, td {
padding: 8px;
text-align: left;
border: 1px solid  #0104c7;
font-weight: bold;
background-color: #0b750718;
color: antiquewhite;
font-size: 16px;
text-shadow: 1px  1px 0 rgb(0, 0, 0);;
}
th, td {
    padding: 8px;
    text-align: left;

}
th {
    background-color: #0104c734;
}
.area-Bvoltar{
    /* border: 2px solid green; */
    width: 100%;
    height: 10%;
}
.bVoltar {
    width: 15%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 251, 0);
    color: rgb(255, 251, 0);
    font-size: 16px;
    cursor: pointer;
    margin-left: 40%;
}

.botoes-acoes {
    display: flex;
    gap: 15px; /* Adiciona espaçamento entre os botões */
}

.LetEdit, .LetExcluir {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.LetEdit {
    background-color: rgba(0, 14, 214, 0.575);
    border: 2px solid rgb(2, 0, 138);
    color: white;
}

.LetExcluir {
    background-color: red;
    border: 2px solid red;
    color: white;
}
